{% extends "base.html" %}
{% load static %}


{% block title %}Conversation with {{ interlocutor_username }}{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{% static "messages/css/detail.css" %}">
{% endblock %}

{% block content %}
  <div id="conversation-area" class="well well-sm">
    {% for message in all_messages %}
      {% if message.sender == user %}
      <div class="msg sent-msg" data-msg-id="{{ message.id }}">
        <b class="sender">You</b>
      {% else %}
      <div class="msg received-msg" data-msg-id="{{ message.id }}">
        <b class="sender">{{ interlocutor_username }}</b>
      {% endif %}
        <i>at {{ message.timestamp }}</i>
        <hr>
        <p>{{ message.body }}</p>
      </div>
    {% endfor %}
  </div>
  <form id="new-msg-form" method="post">{% csrf_token %}
    <div class="input-group">
      {{ form.message }}
      <span class="input-group-btn">
        <button type="send" class="btn btn-info">Send</button>
      </span>
    </div>
  </form>
{% endblock %}

{% block scripts %}
  <script>
    var messagingPullPageURL = "{% url "messaging:pull" username=interlocutor_username %}";
    var messagingCreatePageURL = "{% url "messaging:create" username=interlocutor_username %}";
  </script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js">
  </script>
  <script src="{% static "messages/js/detail.js" %}"></script>
  <script src="{% static "messages/js/process_messages.js" %}"></script>
{% endblock %}
