{% extends "base.html" %}
{% load static %}


{% block title %}Messages{% endblock %}

{% block content %}
  <h3>People you can send messages to:</h3>
  {% for interlocutor, unread_messages_count in interlocutors_with_unread_messages_count %}
    <a class="btn btn-default conversation"
     href="{% url "messaging:detail" username=interlocutor.username %}">
      {{ interlocutor.username }}
      {% if unread_messages_count %}
        <span class="badge">{{ unread_messages_count }}</span>
      {% endif %}
    </a>
  {% endfor %}
{% endblock %}

{% block scripts %}
  <script src="{% static "messages/js/update_unread_count.js" %}"></script>
{% endblock %}
