{% extends "base.html" %}


{% block title %}Messages{% endblock %}

{% block content %}
  <h3>People you can send messages to:</h3>
  <a class="btn btn-default"
   href="{% url "messaging:detail" username="Somebody" %}">
    Somebody
    <span class="badge">2</span>
  </a>
  <a class="btn btn-default"
   href="{% url "messaging:detail" username="Somebody1" %}">
    Somebody1
  </a>
  <a class="btn btn-default"
   href="{% url "messaging:detail" username="Somebody2" %}">
    Somebody2
  </a>
  <a class="btn btn-default"
   href="{% url "messaging:detail" username="Somebody3" %}">
    Somebody3
    <span class="badge">1</span>
  </a>
  <a class="btn btn-default"
   href="{% url "messaging:detail" username="Somebody4" %}">
    Somebody4
  </a>
{% endblock %}
