{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}{% endblock %}</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
   integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
   rel="stylesheet" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static "css/screen.css" %}">
  {% block stylesheets %}{% endblock %}
</head>
<body>
  <div class="container">
    <header class="page-header">
      <h1>
        <a href="{% url "hello" %}">42 Coffee Cups Test Assignment</a>
      </h1>
      {% if user.is_anonymous %}
        <p class="text-right"><button type="button" class="btn btn-xs btn-info"
         data-toggle="modal" data-target="#login-modal">Log in</button></p>
      {% else %}
        <p class="text-right">
          <a href="/logout/" class="btn btn-xs btn-info">Log out</a>
        </p>
      {% endif %}
    </header>

    {% if user.is_anonymous %}
      {# A logining bootstrap modal #}
      <div class="modal fade bs-example-modal-sm" id="login-modal"
       tabindex="-1" role="dialog" aria-labelledby="signin-modal-label">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <form method="post" id="login-form">
                {% csrf_token %}
                <div class="form-group">
                  <label for="username_input">Username</label>
                  <input type="text" name="username"
                   class="form-control" maxlength="30" required="true">
                </div>
                <div class="form-group">
                  <label for="password_input">Password</label>
                  <input type="password" name="password"
                   class="form-control" required="true">
                </div>
                <button type="submit" class="btn btn-info">Log in</button>
                <button class="btn btn-default" data-dismiss="modal">
                  Close
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    {% endif %}

    <main>
      {% block content %}{% endblock %}
    </main>

    <footer>
      <nav class="navbar navbar-default">
        <div class="container">
          <ul class="nav navbar-nav">
            <li><a href="{% url "requests_history" %}"><b>Requests</b></a></li>
          </ul>
        </div>
      </nav>
    </footer>
  </div>

  <script src="http://code.jquery.com/jquery-3.1.1.min.js"
   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
   crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
   integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
   crossorigin="anonymous"></script>
  {% if user.is_anonymous %}
    <script src="{% static "hello/js/process_loginning.js" %}"></script>
  {% endif %}
  {% block scripts %}{% endblock %}
</body>
</html>
