{% extends "base.html" %}
{% load static %}


{% block title %}Edit{% endblock %}

{% block stylesheets %}
  <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker3.min.css"
   rel="stylesheet">
  <link href="{% static "hello/css/edit.css" %}" rel="stylesheet"></link>
{% endblock %}

{% block content %}
  <form id="edit-form" method="post">{% csrf_token %}
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label>Name</label>
          {{ form.first_name }}
        </div>
        <div class="form-group">
          <label>Last name</label>
          {{ form.second_name }}
       </div>
        <div class="form-group">
          <label>Date of birth</label>
          <div class="input-group date" id="datepicker">
            {{ form.birth_date }}
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
        <div class="form-group">
          <label>Photo</label>
          {{ form.photo }}

          {% if photo_url != "photos/" %}
          <div>
          {% else %}
          <div style="display: none;">
          {% endif %}
            <br>
            <label>Preview of your photo</label>
            <br>
            <img src="{{ MEDIA_URL }}{{ photo_url }}" id="photo-preview"
             alt="My photo" width="200px" />
           </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label>Email</label>
          {{ form.email }}
        </div>
        <div class="form-group">
          <label>Jabber</label>
          {{ form.jabber }}
        </div>
        <div class="form-group">
          <label>Skype</label>
          {{ form.skype }}
        </div>
        <div class="form-group">
          <label>Other contacts</label><br>
          {{ form.other_contacts }}
        </div>
        <div class="form-group">
          <label>Bio</label><br>
          {{ form.bio }}
        </div>
      </div>
    </div>

    <div id="form-btns">
      <button id="form-submit-btn" type="submit" class="btn btn-info"
       data-loading-text="<span class='glyphicon glyphicon-refresh glyphicon-refresh-animate'></span> Editing">
        Save
      </button>
      <a href="{% url "hello" %}" class="btn btn-danger">Cancel</a>
    </div>
  </form>
{% endblock %}

{% block scripts %}
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js">
  </script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js">
  </script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js">
  </script>
  <script src="{% static "hello/js/edit.js" %}"></script>
{% endblock %}
