{% extends "base.html" %}

<div class="row">
  <div class="col-sm-6">
    <div>
      <p><i>Name:</i> <b>Illia</b></p>
    </div>
    <div>
      <p><i>Last name:</i> <b>Volochii</b></p>
    </div>
    <div>
      <p><i>Date of birth:</i> <b>October 10, 1999</b></p>
    </div>
    <div>
      <p><i>Bio:</i><br>I was born in Ivano-Frankivsk and I live here.<br>I have finished a school and I am a student now.</p>
    </div>
  </div>

  <div class="col-sm-6">
    <h4>Contacts</h4>
    <div>
      <p>
        <i>Email:</i>
        <a href="mailto:illia.volochii@gmail.com">
          illia.volochii@gmail.com
        </a>
      </p>
    </div>
    <div>
      <p><i>Jabber:</i> illia-v@42cc.co</p>
    </div>
    <div>
      <p><i>Skype:</i> -</p>
    </div>
    <div>
      <p><i>Other contacts:</i><br>Phone number: +38(050)152-16-80</p>
    </div>
  </div>
</div>
