{% extends "base.html" %}
{% load edit_link %}


{% block title %}42 Coffee Cups Test Assignment{% endblock %}

{% block content %}
  <div class="text-right">
    <a href="{% url "edit_hello" %}" class="btn btn-xs btn-info">Edit</a>
    <a href="{% edit_link my_info %}" class="btn btn-xs btn-info">
      Edit as admin
    </a>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div>
        <p><i>Name:</i> <b>{{ my_info.first_name }}</b></p>
      </div>
      <div>
        <p><i>Last name:</i> <b>{{ my_info.second_name }}</b></p>
      </div>
      <div>
        <p><i>Date of birth:</i> <b>{{ my_info.birth_date }}</b></p>
      </div>
      <div>
        <p><i>Photo:</i></p>
        <img src="{{ MEDIA_URL }}{{ my_info.path_to_photo_from_media_root }}"
         alt="My photo" width="200px">
      </div>
    </div>

    <div class="col-sm-6">
      <h4>Contacts</h4>
      <div>
        <p>
          <i>Email:</i>
          <a href="mailto:illia.volochii@gmail.com">
            {{ my_info.email }}
          </a>
        </p>
      </div>
      <div>
        <p><i>Jabber:</i> {{ my_info.jabber }}</p>
      </div>
      <div>
        <p><i>Skype:</i> {{ my_info.skype }}</p>
      </div>
      <div>
        <p>
          <i>Other contacts:</i>
          <br>
          {{ my_info.other_contacts|linebreaksbr }}
        </p>
      </div>
      <div>
        <p>
          <i>Bio:</i>
          <br>
          {{ my_info.bio|linebreaksbr }}
        </p>
      </div>
    </div>
  </div>
{% endblock %}
