{% extends "base.html" %}


{% block title %}42 Coffee Cups Test Assignment{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm-6">
      <div>
        <p><i>Name:</i> <b>{{ my_info.first_name }}</b></p>
      </div>
      <div>
        <p><i>Last name:</i> <b>{{ my_info.second_name }}</b></p>
      </div>
      <div>
        <p><i>Date of birth:</i> <b>{{ my_info.birth_date }}</b></p>
      </div>
      <div>
        <p>
          <i>Bio:</i>
          <br>
          <textarea style="width: 100%;" readonly>{{ my_info.bio|safe }}</textarea>
        </p>
      </div>
    </div>

    <div class="col-sm-6">
      <h4>Contacts</h4>
      <div>
        <p>
          <i>Email:</i>
          <a href="mailto:illia.volochii@gmail.com">
            {{ my_info.email }}
          </a>
        </p>
      </div>
      <div>
        <p><i>Jabber:</i> {{ my_info.jabber }}</p>
      </div>
      <div>
        <p><i>Skype:</i> {{ my_info.skype }}</p>
      </div>
      <div>
        <p>
          <i>Other contacts:</i>
          <br>
          <textarea style="width: 100%;" readonly>{{ my_info.other_contacts|safe }}</textarea>
        </p>
      </div>
    </div>
  </div>
{% endblock %}
